.body-dark-theme {
  background-color: #140a01;
  color: #fceee6;
}
.button-dark-theme {
  color: #fceee6;
}
body.body-dark-theme button:hover {
  background-color: #fceee6;
  color: #140a01;
}
.body-dark-theme .burger-btn:hover {
  background-color: transparent;
}
body.body-dark-theme .slide-feedback {
  border: 1px solid rgba(216, 203, 196, 0.15);
}
.body-dark-theme .header {
  background-color: #140a01;
}
.body-dark-theme .header-logo {
  fill: #fceee6;
}
.body-dark-theme .header-burger {
  fill: #fceee6;
}
.body-dark-theme .close-btn:hover {
  background-color: transparent;
}
.body-dark-theme .events-list-button {
  background-color: #fceee6;
}
.body-dark-theme .events-list-button {
  background: #140a01;
  color: #fceee6;
}
.body-dark-theme .events-list-button:hover {
  background: #140a01;
  color: #fceee6;
}
.body-dark-theme .events-list-button-arrow {
  fill: #fceee6;
}
.body-dark-theme .swiper-pagination-bullet {
  background-color: #fceee6;
}
.body-dark-theme .books-main-btn.books-transparent-btn {
  background-color: #fceee6;
}
.body-dark-theme .books-main-btn.books-transparent-btn:hover,
.books-main-btn.books-transparent-btn:focus {
  background-color: #ea8d50;
  border: 1px solid #140a01;
  color: #140a01;
}
.body-dark-theme .loc-svg {
  fill: #fceee6;
}

.body-dark-theme .books-category-box {
  border: 1px solid rgba(216, 203, 196, 0.15);
}
.body-dark-theme .category-icon {
  fill: #fceee6;
}
.body-dark-theme .category-list-dropdown-button {
  border: 1px solid rgba(216, 203, 196, 0.15);
}
.body-dark-theme .category-modal {
  background-color: #140a01;
}

.body-dark-theme .category-list-dropdown-button:hover {
  background-color: transparent;
}
