.events {
    padding-top: 64px;
    padding-bottom: 64px;
    /* position: relative; */
}

.events-events {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 16px;
}

.events-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
    width: 300px;
}

.events-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
}

.swiper-slide {
    
    height: 545px;
}

.events-list-picture {
    height: 342px;
    height: 277px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 16px;
}

.events-list-header {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-top: 24px;
}

.events-list-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
}

.events-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.events-list-button {
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 95px;
    height: 24px;
    background-color: inherit;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: auto;
    padding-left: 0;
    
    bottom: 24px;
    left: 0;
    margin-bottom: 56px;
}

.events-list-button:hover {
    font-weight: 600;
}

.events-list-button-arrow {
    fill: #0B0500;
}
/* swiper */
.swiper-tools {
    display: flex;
}


.swiper {
    width: 100%;
    
    padding-block: 2rem;
}

.swiper-wrapper {
    align-items: stretch;
}

.custom-prew {
   
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: #E15D05;
}

.custom-next {
   
    width: 48px;
    height: 48px;
    padding: 12px;
    background-color: #E15D05;
}

@media screen and (min-width: 768px) {
    .swiper-wrapper {
        display: flex;
        gap: 24px;
    }

    .swiper-slide {
        width: 340px;
    }

    .events-list-picture {
        height: 340px;
    }

    .events-list-button {
        bottom: 0;
    }
}

@media screen and (min-width: 1440px) {
    .events-list-picture {
        width: 421px;
        height: 277px;
        object-fit: none;
    }

    .swiper-slide {
        width: 421px;
        
    }
}