body.no-scroll {
  overflow: hidden;
}

.header {
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fceee6;
  transition: background-color 500ms ease-in-out;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  gap: 60px;
}
.header-logo {
  display: block;
  height: 36px;
}

.header-nav-list {
  display: none;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease-in-out;
}

.burger-btn.rotate {
  transform: rotate(90deg);
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
  background-color: inherit;
  transition: transform 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translate(0);
  z-index: 9999;
}
.mobile-menu-container {
  position: relative;
  padding-top: 14px;
  padding-bottom: 43px;
  width: 100%;
  height: 100%;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.mobile-menu-nav-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  transition: color 0.25s ease-in-out;
}
.mobile-menu-nav-item:active {
  color: #ea8d50;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-container {
    display: block;
  }
  .header-burger {
    display: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .header-nav-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    transition: color 0.25s ease-in-out;
  }
  .header-nav-list-item:active {
    color: #ea8d50;
  }
  .header-nav-list {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .header-nav-list-item:hover,
  .header-nav-list-item:focus {
    color: #ea8d50;
  }
}
@media screen and (min-width: 1440px) {
}
